<form name="newPrForm" novalidate>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Exercise</label>
                <select name="uExerciseList" class="form-control" required
                        ng-options="exercise as exercise.Name for exercise in exerciseList"
                        ng-model="newPR.Exercise"
                        ng-class="{error: newPrForm.uExerciseList.$error.required && prInvalid}"
                        ng-change="onExerciseSelect(this)"></select>
                <label ng-show="newPrForm.uExerciseList.$error.required && prInvalid" class="text-danger">Required!</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Date</label>
                <input class="form-control" name="uRecordDate"
                       ng-model="newPR.RecordDate"
                       ng-class="{error: newPrForm.uRecordDate.$error.required && prInvalid}"
                       required readonly="true"
                       datepicker-popup="MM/dd/yyyy" show-button-bar show-weeks="false"
                       type="text"/>
                <label ng-show="newPrForm.uRecordDate.$error.required && prInvalid" class="text-danger">Required!</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">{{valuePlaceholder}}</label>
                <input name="uValue" class="form-control"
                       id="maxWeight"
                       ng-model="newPR.Value" type="number"
                       ng-class="{error: newPrForm.uValue.$error.required && prInvalid}" required/>
                <label ng-show="newPrForm.uValue.$error.required && prInvalid" class="text-danger">Required!</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label">Units</label>
                <select name="uUnits"
                        ng-model="newPR.Unit"
                        ng-options="unit as unit.name for unit in unitsList"
                        ng-change="onUnitSelected(this)"
                        ng-class="{error: newPrForm.uUnits.$error.required && prInvalid}"
                        required
                        class="form-control"></select>
                <label ng-show="newPrForm.uUnits.$error.required && prInvalid" class="text-danger">Required!</label>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <button class="form-control btn-primary" type="button" ng-click="savePR()" tooltip="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            </div>
        </div>
    </div>
</form>