
<form class="form-horizontal diggity-text">
    <div class="list-group-item" style="border-top:none;">
        <div class="form-group">
            <label class="col-md-3 control-label">Weight</label>
            <div class="col-md-9">
                <input id="weight_lifted" type="number" class="form-control" placeholder="Weight"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"># of Reps</label>
            <div class="col-md-9">
                <input id="max_reps" class="form-control" type="number" placeholder="Reps"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Estimated Max</label>
            <div class="col-md-9">
                <input id="estimated_max" disabled="disabled" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-md-push-3">
                <button type="button" ng-click="calculateOneRepMax()" class="btn btn-primary">Calculate</button>
                <button type="button" ng-click="closeOneRepMaxForm()" class="btn btn-default">Cancel</button>
            </div>
        </div>

    </div>
</form>