
<form class="form-horizontal diggity-text">
    <div class="list-group-item diggity-text" style="border-top:none;">
        <h4 class="text-danger">You must logout and log back in for changes to take affect.</h4>
        <div class="form-group" ng-repeat="exType in exerciseTypeList">
            <label class="col-md-3 control-label">{{exType.Name}}</label>
            <div class="col-md-8">
                <select ng-model="exerciseTypeList[$index].unitPreference" class="form-control"
                        id="exType_{{exType._id}}"
                        ng-options="unit as unit.Name for unit in exType.UnitOfMeasures"
                        ng-change="setPreference(this)"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 col-md-push-3">
                <button type="button" ng-click="cancelPreferences()" class="btn btn-default">Cancel</button>
                <button type="button" ng-click="savePreferences()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
