body{
    background-color: #ebebeb;
}
#cloud-container{
    padding: 10px;
    margin: 10px auto;
    border: 20px solid #999999;
    background-color: #ffffff;
    /* background-image: url('../img/whiteboard-hi.png');
     background-repeat: no-repeat;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 95%;
}

.underline{
    background-image:url("../img/border_underline.png");
    background-repeat:repeat-x;
    background-position: bottom;
    padding-bottom : 10px;

}

.home{
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-image: url("../img/SpoonGraphics-Doodle-Icons/Home.png");
}

.home-header{
   /* background-image: url("../img/chalkbg.jpg");*/
    height: 320px;
    /*font-family: 'Gloria Hallelujah', cursive !important;*/
    font-family: 'Indie Flower !important;
    font-size: 3.5em;
    color: #000000;
}

.header-text{
    font-size: .5em !important;
    font-family: 'Indie Flower' !important;
    color: red;
    margin-top: 20px;
    height: 110px !important;
    overflow: hidden;
}
.navbar-chalkboard{
    background-color: transparent;
    padding-top: 270px;
}
.navbar-chalkboard-scroll{
    /*background-image: url("../img/chalkbg.jpg");*/
    background-color: #ffffff;
    padding-top: 0;
}

.navbar-chalkboard a{
    text-decoration: underline;
}
/*
.navbar-chalkboard a{
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive !important;
}

.navbar-chalkboard a:hover, .active-link{
    color: #ffff00 !important;
}

.navbar-chalkboard li a:hover{
    background-color: transparent;
}

.navbar-chalkboard li:active{
    background-color: transparent;
}*/

.diggity-text{
    font-weight: bold;
}

.diggity-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.diggity-callout-info{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.row {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.edit-form{
    margin-top: 10px;
    /*background-color: #d3d3d3;*/
    padding: 20px;
    /*background-color: #e7e7e7;*/
    border: #ddd solid 1px;
    box-shadow: none;
}
.error  {
    border-color: #f04124;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.error:focus {
    border-color: #d32a0e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f79483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f79483;
}

footer{
    height: 45px;
    color: #333333;
    background-color: #e7e7e7;
    border-color: #dadada;
    padding-top: 10px;
}
.fix-bottom{
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.float-right{
    float: right;
}

.table-container{
    /*overflow-y: scroll;*/
}

.workout-table tbody tr td{
    padding: 3px !important;
}

.workout-sub-table{
    border-top: none;
    margin-bottom: 0;
    background-color: transparent !important;
}

.workout-table tbody tr td{
    border: none;
    padding-top: 5px !important;
}

.workout-header{
    padding-left: 70px !important;
    margin-bottom: 5px;
}
.workout-header div{
    content: ' ';
    border-bottom: #008cba 1px solid;
}

.editTable{
    margin-bottom: 0 !important;
}

.table-footer{
    padding: 4px;
    border: #dddddd 1px solid;
}

.editTable thead th:hover, .workout-table thead th:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #245269;
}


.editTable thead th{

    color: #ffffff;
    background-color: #245269;
}

.editTable tr td{
    border-right: #e7e7e7 1px solid;
}

.btn-xs{
    padding: 5px 10px !important;
}

.btn-mini{
    padding: 3px 5px !important;
}

.nav-button{
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
    border-radius: 5px;
}

.checkbox-button{
    width: 100%;
    margin: 5px;
}
