

    <div class="container">
        <h4><b style="color: #3a87ad">WOD:</b> </h4>
        <p style="padding-left: 20px;"> Workout of the day.</p>

        <br/>

        <h4><b style="color: #3a87ad">Diggity</b></h4>

        <div style="padding-left: 20px">
            According to the <a href="http://www.urbandictionary.com/define.php?term=diggity" target="_blank">Urban Dictionary</a><br/><br/>
            <i>
                Often doesn't have it's own definition. Only when placed with other words it really has a meaning <br/>
                <div style="margin: 10px;">
                    1. No diggity = no doubt, for sure <br/>
                    2. Bomb diggity = great, awesome, the best, etc
                </div>
            </i>
        </div>
    </div>
