
<h2>WOD Diggity</h2>
<br/>

<h4><b>WOD</b></h4>
<h4>Workout of the day.</h4>
<br/>

<h4><b>Diggity</b></h4>

<blockquote>
    According to the <a href="http://www.urbandictionary.com/define.php?term=diggity" target="_blank">Urban Dictionary</a><br/><br/>
    <i>
        Often doesn't have it's own definition. Only when placed with other words it really has a meaning <br/>
        <div style="margin: 10px;">
            1. No diggity = no doubt, for sure <br/>
            2. Bomb diggity = great, awesome, the best, etc
        </div>
    </i>
</blockquote>

